/* src/ToDoList.css */
.todo_container {
  width: 70%;
  border: 1px solid #88918b1a;
  padding: 1rem;
  margin-bottom: 30px;
}
.inputflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttonflexplus {
  border: 1px solid #88918b1a;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
  flex-wrap: wrap;
}
.buttonflexplus button {
  border: none;
  /* padding: 5px; */
  background-color: unset;
  font-family: "Plus Jakarta Sans";

  font-size: 12px;
  font-weight: 500;

  color: #0a0f29;
}
.todo_container h1 {
  font-family: "Plus Jakarta Sans";
  margin-left: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #0a0f29;
}
.todo_container ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

.showtodolist li {
  font-family: "Plus Jakarta Sans";
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-left: 16px;
  font-size: 12px;
}

.todo_container li button {
  background-color: unset;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
.show_mobieAdd {
  display: none;
}
@media screen and (max-width: 760px) {
  .inputflex {
  }
  .todo_container {
    border: none;
    width: unset;
    padding: unset;
  }
  .todo_container h1 {
    margin-left: unset;
  }
  .hide_mobileAdd {
    display: none;
  }
  .show_mobieAdd {
    display: flex;
  }
  .flex_mobie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
}
