.table_Flex {
  display: flex;
  /* height: 60vh; */
  background-color: white;
  font-family: "Plus Jakarta Sans";
  border: none;
  /* width: 490px; */
  padding: 1rem;
}
.flxsbac {
  box-shadow: 0px 0px 30px 0px #0129701a;
  padding: 5px;
}
.flxs {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flxs h1 {
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #0a0f29;
}
.table_Flex table {
  width: 100%;

  border-collapse: collapse;
  font-family: "Plus Jakarta Sans";
}
.table_Flex,
th td {
  text-align: left;
  padding: 8px;
}
.table_styling th {
  background-color: white;
  border: 1px solid #88918b;
}

.tableheading {
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #0a0f29;
  text-align: center;
}
.tabledata {
  font-family: "Plus Jakarta Sans";
  font-size: 10px;
  font-weight: 400;
  /* line-height: 24px; */

  color: #88918b;

  align-items: center;
}

/* Assuming .tabledata is the class applied to the <td> containing the name and image */

/* Style for the image */
.image {
  width: 15px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  margin-right: 10px; /* Add some space between the image and the text */
}

.tabledata button {
  color: white;
  border: none;
  width: 80px;
  font-size: 10px;
  height: 25px;
  padding: 0.5px 7px 0.5px 8px;
  gap: 0px;
  opacity: 0px;
  text-transform: uppercase;
}
.table_styling {
  background-color: #ffffff;

  margin-bottom: 20px;
}
/* .table_deleteicon {
  color: #ff4861;
  font-size: 12px;
} */
/* .checkInButton {
  background-color: #008000;
} */
.evenButton {
  background-color: #008000;
}
.oddButton {
  background-color: red;
}
.timeColumn {
  background-color: transparent; /* or any other style to remove the background color */
}
/* Assuming the file is chart.module.css */
.checkbox {
  accent-color: #ff6347; /* Use your desired color */
  width: 15px; /* Adjust size as needed */
  height: 15px; /* Adjust size as needed */
  margin-right: 25px;
}
