.download_button_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 1rem;
}
@media screen and (max-width: 760px) {
  .download_button_flex {
    flex-wrap: unset;
  }
}
