.modalOverlay {
  position: absolute;
  top: 90%;
  left: 85%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  box-shadow: 2px 3px 3px #888888;
  padding: 20px;
  border-radius: 8px;
  width: 150px;
  text-align: left;
}

.modalList {
  list-style: none;
  padding: 0;
}

.modalItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
}

.modalIcon {
  margin-right: 10px;
}
.modalLink {
  color: #0a0f29;
  text-decoration: none;
}
.closeButton {
  font-size: 10px;
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .modalOverlay {
    /* top: unset; */
    /* bottom: 0; */
    left: 30%;
    top: 150%;
    /* bottom: 100%; */
  }
}
