/* RecentActivities.css */
.timeline-container {
  padding: 1rem;
  background-color: white;
  /* width: 50%; */
  box-shadow: 0px 0px 30px 0px #0129701a;
}

.timeline-header {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #88918b;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 400;
}

.timeline-today {
  color: #0df00d;
  font-weight: bold;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
}

.timeline {
  list-style-type: none;
  padding: 0;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  /* position: relative; */
  padding-left: 20px;
  font-weight: 300;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
  color: #0a0f29;
}

/* .timeline-item:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ccc;
} */

.timeline-time {
  flex: 0 0 50px;
  font-size: 0.9em;
  color: #888;
  font-weight: 300;
  font-family: "Plus Jakarta Sans";
  font-size: 15px;
}

.timeline-content {
  flex: 1;
  padding-left: 20px;
  border-left: 2px solid #ccc;
  font-size: 1em;
}
@media screen and (max-width: 760px) {
  .timeline-container {
    width: unset;
  }
}
